/*
front-size = rem
padding/margin = em
widths = em or %
*/

:root {
  --txt-1: blue;
  --txt-2: violet;
  --color-1: skyblue;
  --color-2: green;
  --preview: yellow;
  --border: orange;
  --link: red;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  * {
    font-size: 1.25rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--txt-1);
  font-size: 2rem;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--txt-2);
  font-size: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

ul {
  list-style: none;
}

.s1 {
  background-color: var(--color-1);
  border-bottom: 0.1em solid var(--border);
  overflow: auto;
}

.s2 {
  background-color: var(--color-2);
  border-bottom: 0.1em solid var(--border);
  overflow: auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

#greeting {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 5em;
}

#intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-bar nav-bar"
    "l-col r-col";
  background-color: var(--color-2);
  border-radius: 0.35em 0.35em 0 0;
}

@media screen and (max-width: 900px) {
  #intro {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-bar"
      "l-col"
      "r-col";
  }
}

#nav-bar {
  display: flex;
  grid-area: nav-bar;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1em solid var(--border);
}

#navigation {
  margin: 0;
  padding: 0.5em;
}

#navigation li {
  display: inline;
  margin: 0.25em;
}

#l-col {
  display: flex;
  justify-content: center;

  padding: 0.5em;
  grid-area: l-col;
  background-color: #eee;
}

#r-col {
  display: flex;
  justify-content: center;

  padding: 0.5em;
  grid-area: r-col;
  background-color: #333;
}

#stargems {
  width: 5.5em;
  height: 5.5em;
  object-fit: cover;
  display: block;
}

#preview {
  width: inherit;
  border: 20px solid pink;
  background-color: var(--preview);
  padding: 0.5em;
}

#wrapper-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#skills {
  display: flex;
  justify-content: space-evenly;
}

.theme-dot {
  width: 0.75em;
  height: 0.75em;
  margin: 0.25em;
  background-color: #333;
  border: solid 0.1em var(--border);
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.theme-dot:hover {
  transform: rotate(45deg);
  border-radius: 10%;
}

#themes {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

#lite {
  background-color: #baffff;
}
#dark {
  background-color: #353535;
}
#star {
  background-color: #ffee00;
}
#blue {
  background-color: #2424ff;
}
